<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD22y4d4DV0GIQTncjl0s6IdXYvjp_ABQo</string>
	<key>GCM_SENDER_ID</key>
	<string>185643184467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>practice-8f493</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-8f493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185643184467:ios:0e7cd22370a54bc6efb1a6</string>
</dict>
</plist>